.modalCard {
	border: 0.5rem solid rgba(128, 128, 128, 0.478);
	background-color: rgba(228, 225, 205, 0.845);
	width: 60%;
	height: 50vh;
	border-radius: 1rem;
	text-align: center;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.087), 0 17px 50px 0 rgba(0,0,0,0.24);
	opacity: 0.8;
	padding: 2rem;
	font-size: 1.5rem;
  z-index: 1; 
  left: 0;
  top: 0;


	&:hover {
		opacity: 1;
	}
}

.modal-wrapper {
	top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	&--hidden {
		display: none;
	}
}