@use '../../partials/mixins.scss';

.modalCard {
	background-color: rgb(249, 244, 244); 
	color: black;
	width: 40%;
	height: 40vh;
	border-radius: 1rem;
	text-align: center;
	box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.905);
	opacity: 0.7;
	padding: 2rem;
	font-size: 1.1rem;
	font-weight: 400;
	text-transform: uppercase;
  z-index: 1; 
  left: 0;
  top: 0;
	line-height: 1.8rem;
	overflow-y: scroll;

	&__detail {
		text-align: left;
	}

	&:hover {
		transform: translateY(-5px);
		border: none;
		transition: all 0.25s ease-in;
		opacity: 0.9;
	}
}

.modal-wrapper {
	top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;

	&--hidden {
		display: none;
	}
}

// mobile
@include mixins.phone {
	.modalCard {
		width: 90%;
		height: 50vh;
	}
}

@include mixins.tablet {
	.modalCard {
		width: 70%;
	}
}