$basic-color-black:black;
$basic-color-white: white;
$vivid-color: rgba(161, 115, 67, 0.752);
$main-color: #2197fe;
$secondary-color: grey;
$box-shadow-gold: rgb(245, 252, 205);
$box-shadow-dark: 0 6px 15px 0 rgba(0, 0, 0, 0.905);
$box-shadow-soft: #919090;
$background-light: rgba(249, 244, 244, 0.933);
$error-messages: red;
$error-background: rgba(255, 0, 0, 0.202);





