$basic-color-black:black;
$basic-color-white: white;
$vivid-color: rgb(162, 255, 134);
$main-color: #2196fe;
$secondary-color: grey;
$box-shadow-gold: rgb(245, 252, 205);
$box-shadow-dark: 0 6px 15px 0 rgba(0, 0, 0, 0.905);
$box-shadow-soft: #919090;
$background-light: rgb(249, 244, 244);
$error-messages: red;
$error-background: rgba(255, 0, 0, 0.202);





